<div>
  <h2>Application Component</h2>
  <p>{{"hello" | uppercase}}ssss</p>
  <h1 appHighlighter="lightblue">Hover over me to see the highlight effect!</h1>
  <p appHighlighter>Hover over this paragraph to see the default highlight effect.</p>

  <!-- <br/><br/>
  <app-http-client></app-http-client>
  <br/><br/> -->
   <nav>
     <a routerLink="/TS">TS</a>
     <a routerLink="/ParentChild">For Parent Child</a>
     <!-- <a [routerLink]="[{ outlets: { primary: ['/ParentChild'] } }]">Child 2</a>  //Something i tried. To do with router-outlet // -->
     <a routerLink="/new">New</a>
     <a routerLink="/forms">Form Elements</a>
     <a routerLink="/httpClient">Go To HttpClient Activities</a>
     <a routerLink="/observables">Observables</a>
    </nav>
    <!-- <app-forms (userAdded)="onUserAdded($event)"></app-forms>
  <app-my-component [newUser]="newUser"></app-my-component> -->
    <!-- <router-outlet name="primary"></router-outlet> -->
    <router-outlet></router-outlet>
</div>

<!-- <div>
  <p>This is the div containing the secondary Router-Outler</p>
  <a routerLink="/ParentChild">ChildRouter2</a>
  <router-outlet name="secondary"></router-outlet>
</div> -->



<!-- <app-item-list></app-item-list> -->
<!-- <app-root></app-root> -->
